---
import Layout from "../layouts/Layout.astro"
---
<Layout title="RBXLIFE | go">
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae praesentium quibusdam molestias rem? Sapiente modi ipsa, iste blanditiis impedit minima, vel debitis libero assumenda provident fuga! Quas ullam aliquid nihil!
  </div>
</Layout>
