---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="RBXLIFE is a safe and secure platform for everyone to earn Robux." />
		<link rel="icon" type="image/png" href="/pruple-r.svg.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

input, button, textarea {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1em;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #000;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.purple {
  color: #9933FF;
}

</style>
