---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="RBXLIFE is a safe and secure platform for everyone to earn Robux." />
		<link rel="icon" type="image/png" href="/pruple-r.svg.png" />
		<title>{title}</title>
	</head>
	<body>
    <header>
      <h1>RBXLIFE</h1>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>Copyright &copy;  2023 | RBXLIFE</p>
    </footer>
	</body>
</html>

<style is:global>
@import url("../reset.css");

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333;
  color: #fff;
}

nav {
  float: right;
}

nav a {
  display: inline-block;
  margin: 4px;
  padding: 10px;

  color: #fff;
}

nav a:hover {
  background-color: #9933FF;
  border-radius: 2px;
}

main {
  margin-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

</style>
